In [1]:
import pandas as pd

## Data Set

In [2]:
visitors = pd.read_csv('../data/gen_test_data_with_labels.csv')
visitors.drop(columns=['Unnamed: 0'], inplace=True)
visitors.head()

   neighbourhood_rank  accomodation_rank  month_rank  1_over_days  prediction
0                 4.1                  4    0.068251     0.200000    0.238991
1                 1.3                  1    0.101374     0.250000    2.327002
2                 5.3                  1    0.101374     1.000000    3.635529
3                20.5                  4    0.059613     0.333333    1.796303
4                 4.1                  2    0.101374     0.500000    2.882922

## Accomodation Rates

In [3]:
rates = pd.read_csv('../data/acc_rates_2017.csv')
rates.head()

,2017,Luxury,Regular,Budget,Three gold stars,Two gold stars,One gold star,Two and three silver stars,One silver star
0,12,190.51,90.93,55.444,67.53,51.15,62.98,50.94,44.62
1,11,204.98,94.39,58.554,70.69,54.99,68.20,52.60,46.29
2,10,244.45,98.68,67.844,72.48,65.93,76.92,63.25,60.64
3,9,255.69,101.88,70.676,74.44,72.70,76.52,66.91,62.81
4,8,276.41,127.43,77.502,95.74,74.69,80.57,69.53,66.98

## Monthly Visitors

In [4]:
months = pd.read_csv('../data/monthly_visitors_percentage.csv')
months.head()

      Month  Percentage
0   January    0.061647
1  February    0.067146
2     March    0.083657
3     April    0.096346
4       May    0.097943

## Estimation

In [5]:
month_ranks = months['Percentage'].tolist()
accomodation_types = ['','Budget','Regular','','Luxury']

tax_return = 0

for _, row in visitors.iterrows():
    
    accomodation = accomodation_types[int(row['accomodation_rank'])]
    month = month_ranks.index(row['month_rank']) + 1
    days = (1 / row['1_over_days'])
    
    rate = float(rates[rates['2017'] == month][accomodation])
    tax = float(rate * days * (row['prediction'] / 100))
    
    tax_return += tax

## Tax Per Person Per Night

In [15]:
total_days = sum(1 / visitors['1_over_days'])
print(tax_return / total_days)

2.2456624144336956

## Total Smart Tourism Tax Revenue

In [7]:
total_visitors = 29724436

In [8]:
tax_return_estimation = tax_return * total_visitors / visitors.shape[0]

In [9]:
print(tax_return_estimation)

502301641.583685