In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
train_data = pd.read_csv('../data/artificial_dataset_0.csv')

In [3]:
train_data.head()

   Neighbourhood Rank  Days  Estimated Visitors  Smart Tax Percentage
0                   1     1              100000                    25
1                   2     1              100000                    23
2                   3     1              100000                    21
3                   4     1              100000                    19
4                   5     1              100000                    17

In [4]:
target = 'Smart Tax Percentage'

features = list(train_data.columns)
features.remove(target)

In [5]:
train_x = train_data[features].values
train_y = train_data[target].values

In [6]:
linear_regression = LinearRegression().fit(train_x, train_y)

In [7]:
test_data = pd.read_csv('../data/test_set_0.csv')

In [8]:
test_data.head()

   Neighbourhood Rank  Days  Estimated Visitors
0                   3     4               20000
1                   1     1               25000
2                   5    20              100000
3                   4     7               50000

In [9]:
test_x = test_data[features].values

In [10]:
pred_y = linear_regression.predict(test_x)

In [11]:
pred_y

array([13.71107033, 18.44849537, 11.85750893, 13.43008814])

In [12]:
test_data['prediction'] = pred_y

In [13]:
test_data.head()

   Neighbourhood Rank  Days  Estimated Visitors  prediction
0                   3     4               20000   13.711070
1                   1     1               25000   18.448495
2                   5    20              100000   11.857509
3                   4     7               50000   13.430088